<h2 style="color: green">
OpenLegacy - SUNAT
</h2>

<p-tabView>
  <p-tabPanel header="Consulta SUNAT" >    
    <div>
      <label for="user">
        User:
      </label>
      <br>
      <input id="user" type="text" pInputText [(ngModel)]="request.requestRequest.personIdentificationIdentifier" >
    </div>
    <br>
    <div>
      <label for="password">
        Password:
      </label>    
      <br>  
      <p-password id="password" [(ngModel)]="request.requestRequest.password" ></p-password>
    </div>
    <br>
    <div>
      <label for="email">
        Email:
      </label>
      <br>
      <input id="email" type="text" pInputText [(ngModel)]="request.requestRequest.email" >
    </div>
    <br>
    <p-button label="Submit" (click)="ejecutar()" [disabled]="buttonDisabled"></p-button>
    
    <br>
    <br>
    <td>{{ response.messageResponse }}</td>    
  </p-tabPanel>
  <p-tabPanel header="Visor Documento" >    
    <div id="outerContainer">
      <div>
        <label for="user">
          DNI/RUC:
        </label>
        <br>
        <input id="dniRuc" type="text" pInputText [(ngModel)]="srcInput" >
        <br><br>
        <p-button label="Vizualizar" (click)="visualizar()" [disabled]="buttonDisabled"></p-button>
      </div>

      <div class="pdf-container">
        <pdf-viewer
          [src]="src"
          [rotation]="0"
          [original-size]="false"
          [show-all]="true"
          [fit-to-page]="false"
          [zoom]="1"
          [zoom-scale]="'page-width'"
          [stick-to-page]="false"
          [render-text]="true"
          [external-link-target]="'blank'"
          [autoresize]="true"
          [show-borders]="false"
          style="width: 90%; height: 500px;"
        ></pdf-viewer>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>