<h2 style="color: green">
OpenLegacy - SUNAT
</h2>

<p-tabView>
  <p-tabPanel header="Consulta SUNAT" >

    
    <div>
      <label for="user">
        User:
      </label>
      <br>
      <input id="user" type="text" pInputText [(ngModel)]="request.requestRequest.user" >
    </div>
    <br>
    <div>
      <label for="password">
        Password:
      </label>    
      <br>  
      <p-password id="password" [(ngModel)]="request.requestRequest.password" ></p-password>
    </div>
    <br>
    <div>
      <label for="email">
        Email:
      </label>
      <br>
      <input id="email" type="text" pInputText [(ngModel)]="request.requestRequest.email" >
    </div>
    <br>
    <p-button label="Submit" (click)="ejecutar()" [disabled]="buttonDisabled"></p-button>
    
    <br>
    <br>
    <td>{{ response.messageResponse }}</td>
    
  </p-tabPanel>
  
</p-tabView>